
body {
    font-family: Arial, sans-serif;
    background: linear-gradient( #6a11cb, #2575fc);
    margin: 0;
    padding: 0; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.form-container {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 400px;
    text-align: center;
}

h2 {
    color: #333;
    margin-bottom: 20px;
}


form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-top: 10px;
    text-align: left;
}

input, select {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

input:focus, select:focus {
    border-color: #007bff;
    outline: none;
}


label input[type="checkbox"] {
    width: auto;
    margin-right: 5px;
}


button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    
}

button:hover {
    background-color: #68ffa2;
}


.mensaje {
    margin-top: 10px;
    color: #28a745;
    font-weight: bold;
}